.tabs-footer {
  /*vars*/
  --tw-bg-opacity: 1;

  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  // background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  text-align: center;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

svg {
  /*vars*/
  --tw-bg-opacity: 1;
}
