<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="min-h-screen flex flex-col bg-gray-100">
    <div class="mt-2 text-center text-2xl text-gray-700">Made with 💗 by: </div>
      <div class="mt-2">
        <div class="flex flex-col bg-gray-200 shadow-md py-8 px-10 md:px-8 rounded-md">
          <div class="flex flex-col md:flex-row gap-6 md:gap-8">
            <img class="rounded-full border-4 border-gray-300 h-24 w-24 mx-auto" src="https://media-exp3.licdn.com/dms/image/C4E03AQF8PitUVkyjww/profile-displayphoto-shrink_400_400/0/1616245037734?e=1631750400&v=beta&t=Ugxmc8dyvVh7xR3VNG4jG5JQvbiQfuftTU8UGvPlvAU" alt="" />
            <div class="flex flex-col text-center md:text-left">
              <div class="font-medium text-lg text-gray-800">Kevin Hernández Avelino</div>
              <div class="text-gray-500 mb-3 whitespace-nowrap">Software Developer</div>
              <div class="flex flex-row gap-4 text-gray-800 my-auto text-2xl mx-auto md:mx-0">
                <a class="hover:cursor-pointer hover:text-blue-500"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a class="hover:cursor-pointer hover:text-blue-500"><ion-icon name="logo-facebook"></ion-icon></a>
                <a class="hover:cursor-pointer hover:text-blue-500"><ion-icon name="logo-github"></ion-icon></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</ion-content>
